@import url("https://dl.dropboxusercontent.com/u/2821967/fonts/proxima-nova.css");
body {
  height: 100vh;
  margin: 0;
  font-family: "proxima-bold";
}

@media (min-width: 850px) {
  .split-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    position: relative;
  }
}
.left {
  background-image: url(cd.jpg);
  background-size: cover;
  background-position: center;
}
.title {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 65px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  position:absolute !important;
  margin: auto;
  top: 5vh;
  text-align: center;
  width: 100%;  color:white;
  text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}
.right {
  background-image: url(edd.jpg);
  background-size: cover;
  background-position: center;
}

.right,
.left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.right img,
.left img {
  width: 48px;
}
.right button,
.left button {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  text-transform: uppercase;
  color: white;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.right button:hover,
.left button:hover {
  color: black;
  cursor: pointer;
  background-color: white;
}

@media (min-width: 850px) {
  .right,
  .left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    height: 100vh;
  }
}
@media (max-width:850px){.title{top:45vh;font-size:3.14rem;}}
.logo img {
  width: 100px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 45%;
}

.text-content {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}
.text-content p {
  margin: 0;
  line-height: 1.2;
}

.big {
  font-size: 2.2rem;
  text-transform: uppercase;
}
